@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;400;500;700&display=swap');
.texto1{
    font-size:$l-size;
    font-weight: 200;
    text-align: center;
}

.texto2{
    font-size:$x-size;
    font-weight: 700;
    text-align: center;
}

.texto3{
    font-size:$l-size;
    font-weight: 700;
    text-align: center;
}

.parrafo1{
    font-size:$m-size;
    font-weight: 400;
}
.parrafo2{
    font-size:$m-size;
    font-weight: 400;
}

.texto4{
    font-size:$l-size;
    font-weight: 700;
    text-align: center;
    color:#686963;
    
}

.texto5{
    font-size:$x-size;
    font-weight: 700;
    text-align: center;
}

.texto6{
    font-size:$l-size;
    font-weight: 700;
    text-align: center;
    color: #686963;
}

.parrafo3{
    font-size:$m-size;
    font-weight: 400;
}
.parrafo4{
    font-size:$m-size;
    font-weight: 400;
}

.texto7{
    font-size:$l-size;
    font-weight: 700;
    text-align: center;
    color: #686963;
}

.texto8{
    font-size:$x-size;
    font-weight: 700;
    text-align: center;
}
.texto9{
    font-size:$m-size;
    text-align: center;
    color:#686963;
}