$bg-white:#FFF;
$font-color:#FAFAFA;
$bg-quicksilver: #A0A0A0;
$bg-jellybean:#E56353;
$bg-salmon: #E97F72;
$bg-pastelpink: #F0A9A1;
$bg-granitegray: #686963;
$bg-taupegray: #91918D;
$bg-gray: #BABAB8;

$max-width: 100%;
$font-family-raleway:'Raleway', sans-serif;

$xx-size:100px;
$x-size:70px;
$l-size:50px;
$m-size:18px;